/* BASE STYLES
---------------------------- */
@layer default {
  :root {
    @if $colors {
      @each $key, $value in $colors {
        --color-#{$key}: #{$value};
        --color-#{$key}--rgb: #{hextorgb($value)};
      }
    }

    --font-primary: #{$font-primary};

    /* GAP SYSTEM
  ------------------------- */
    --gap-xxs: 5px;
    --gap-xs: 10px;
    --gap-s: 17px;
    --gap-m: 30px;
    --gap-xm: 40px;
    --gap-l: 60px;
    --gap-xl: 100px;
    --gap-m-neg: -30px;

    /* RADIUS SYSTEM
  ------------------------- */
    --radius-xxs: 6px;
    --radius-xs: 8px;
    --radius-s: 10px;
    --radius-xxxl: 100%;

    /** Z-INDEX SYSTEM
  ------------------------- */
    --index-1: 100; // Куки, чаты, фиксированные баннеры, кнопка вверх
    --index-2: 200; // Шапка
    --index-3: 300; // Модалки
    --index-4: 400; // Система уведомлений

    --header-height: 72px;
  }

  html,
  body {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-weight: 400;
    font-size: 16px;
    color: cl(text);
    overflow-y: scroll;
    font-family: var(--font-primary), 'Arial', sans-serif;
    padding-top: var(--gap-s);
  }

  body,
  button,
  input {
    font-family: var(--font-primary), 'Arial', sans-serif;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: cl(surface-alt) transparent;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    @include mq($l) {
      background: transparent;
    }
  }

  ::-webkit-scrollbar-thumb {
    @include mq($l) {
      background-color: cl(surface-alt);
      border-radius: 10px;
    }
  }

  ::selection {
    color: cl(bg);
    text-shadow: none;
    background: cl(primary);
  }

  .pb-xxs {
    padding-bottom: var(--gap-xxs);
  }

  .pb-xs {
    padding-bottom: var(--gap-xs);
  }

  .pb-s {
    padding-bottom: var(--gap-s);
  }

  .pb-m {
    padding-bottom: var(--gap-m);
  }

  .pb-l {
    padding-bottom: var(--gap-l);
  }

  .pb-xl {
    padding-bottom: var(--gap-xl);
  }
}

@layer reset {
  a {
    color: cl(text);
    text-decoration: none;
  }

  h1,
  h2,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  b,
  strong {
    font-weight: 500;
  }

  main {
    height: 100%;
  }

  button {
    font-size: 16px;
    background-color: transparent;
    font-weight: inherit;
    border: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
  }

  textarea {
    width: 100%;
  }

  input {
    &[type='text'] {
      width: 100%;
    }
  }
}
